In [2]:
import pandas as pd
import os
import ast

In [3]:
def detect(country,filename):
    os.system('alpr -c {} -j {} C:\OpenAlpr\openalpr_64\openalpr.conf > test2.txt'.format(country,filename))

In [4]:
detect('us','us-1.jpg')

In [5]:
f = open("test2.txt","r")
contents = f.readlines()

In [6]:
contents[0]

'{"version":2,"data_type":"alpr_results","epoch_time":1558729089000,"img_width":497,"img_height":372,"processing_time_ms":804.228027,"regions_of_interest":[],"results":[{"plate":"THECAR","confidence":93.418907,"matches_template":0,"plate_index":0,"region":"","region_confidence":0,"processing_time_ms":58.462002,"requested_topn":10,"coordinates":[{"x":218,"y":203},{"x":317,"y":201},{"x":319,"y":242},{"x":219,"y":244}],"candidates":[{"plate":"THECAR","confidence":93.418907,"matches_template":0},{"plate":"THEGAR","confidence":78.879166,"matches_template":0},{"plate":"THEAR","confidence":78.851006,"matches_template":0},{"plate":"TECAR","confidence":79.732559,"matches_template":0},{"plate":"TMECAR","confidence":78.519897,"matches_template":0},{"plate":"TBECAR","confidence":78.137581,"matches_template":0}]}]}\n'

In [7]:
idx = contents[0].index("candidates")

In [8]:
idx

420

In [9]:
clean = contents[0][idx+13:][:-5]

In [10]:
clean

'{"plate":"THECAR","confidence":93.418907,"matches_template":0},{"plate":"THEGAR","confidence":78.879166,"matches_template":0},{"plate":"THEAR","confidence":78.851006,"matches_template":0},{"plate":"TECAR","confidence":79.732559,"matches_template":0},{"plate":"TMECAR","confidence":78.519897,"matches_template":0},{"plate":"TBECAR","confidence":78.137581,"matches_template":0}'

In [11]:
data = []

In [12]:
data = clean.split(',"matches_template":0}')

In [13]:
data

['{"plate":"THECAR","confidence":93.418907',
 ',{"plate":"THEGAR","confidence":78.879166',
 ',{"plate":"THEAR","confidence":78.851006',
 ',{"plate":"TECAR","confidence":79.732559',
 ',{"plate":"TMECAR","confidence":78.519897',
 ',{"plate":"TBECAR","confidence":78.137581',
 '']

In [14]:
cleaned_data = data[0][1:]

In [15]:
type(cleaned_data)

str

In [16]:
cleaned_data

'"plate":"THECAR","confidence":93.418907'

In [17]:
ast.literal_eval('{'+cleaned_data+'}')

{'plate': 'THECAR', 'confidence': 93.418907}

In [18]:
dic = {}

In [19]:
dic = ast.literal_eval('{'+cleaned_data+'}')

In [20]:
dic

{'plate': 'THECAR', 'confidence': 93.418907}

In [21]:
plate = dic['plate']

In [22]:
print(plate)

THECAR

In [23]:
def detect(filename):
    data = []
    dic = {}
    file = open(filename,'r')
    contents = file.readlines()
    idx = contents[0].index("candidates")
    clean = contents[0][idx+13:][:-5]
    data = clean.split(',"matches_template":0}')
    cleaned_data = data[0][1:]
    dic = ast.literal_eval('{'+cleaned_data+'}')
    plate = dic['plate']
    print(plate)

In [24]:
detect('test2.txt')

THECAR

In [25]:
df = pd.read_csv('dbase.csv')

In [26]:
df['Number Plate']

0      BX41PZ
1      SAM343
2      SAM323
3     H786P0J
4     GX02BCF
5      372275
6     DZI7YXR
7      THECAR
8     YEAUXLO
9     UNIVRSE
10     LTM378
Name: Number Plate, dtype: object

In [27]:
z = 0

In [28]:
for i in df['Number Plate']:
    z+=1
    if i == plate:
        indx = z

In [29]:
indx

8

In [30]:
type(df)

pandas.core.frame.DataFrame

In [31]:
df.iloc[7]

Number Plate            THECAR
Name              Nelson Blaze
Phone Number     +447441254544
Address         6400 Joes Road
Country          United States
Name: 7, dtype: object

In [41]:
df.iloc[[7]]

  Number Plate          Name    Phone Number         Address        Country
7       THECAR  Nelson Blaze   +447441254544  6400 Joes Road  United States

In [146]:
index = pd.Index(range(0))

In [153]:
dframe=df.iloc[[7]].reset_index()

In [157]:
del dframe['index']

In [158]:
dframe

  Number Plate          Name    Phone Number         Address        Country
0       THECAR  Nelson Blaze   +447441254544  6400 Joes Road  United States

In [32]:
df.to_csv('results.csv')

In [59]:
import time
import datetime

In [159]:
fdat = pd.DataFrame({'date': [time.strftime('%Y-%m-%d %H:%M:%S')]})
tdat = pd.DataFrame({'date': [modified_date]})

In [73]:
modified_date = datetime.datetime.now() + datetime.timedelta(days = 30)

In [74]:
modified_date

datetime.datetime(2019, 6, 24, 2, 15, 34, 494593)

In [80]:
modified_date = datetime.datetime.strftime(modified_date, "%Y-%m-%d %H:%M:%S")

In [81]:
modified_date

'2019-06-24 02:15:34'

In [110]:
import time
import datetime
date = time.strftime('%Y-%m-%d %H:%M:%S')
modified_date = datetime.datetime.now() + datetime.timedelta(days = 30)
modified_date = datetime.datetime.strftime(modified_date, "%Y-%m-%d %H:%M:%S")
fdat = pd.DataFrame({'Date': [date]})
tdat = pd.DataFrame({'Till Date': [modified_date]})

In [160]:
pd.concat([dframe,fdat,tdat],axis = 1)

,Number Plate,Name,Phone Number,Address,Country,date,date
0,THECAR,Nelson Blaze,+447441254544,6400 Joes Road,United States,2019-05-25 02:58:38,2019-06-24 02:41:37

                  Date
0  2019-05-25 02:41:37

In [133]:
z = pd.concat([df,fdat,tdat],axis = 1)

In [93]:
z

,Number Plate,Name,Phone Number,Address,Country,date,date
0,BX41PZ,Christine Arnold,+13308702044,4745 Sigley Road,Australia,2019-05-25 02:18:38,2019-06-24 02:18:38
1,SAM343,Cory Lyle,+491771789232,517 Lonely Oak Drive,Europe,NaN,NaN
2,SAM323,Roy Lyle,+41771789245,289 Swick Hill Street,Europe,NaN,NaN
3,H786P0J,Bertie Cunningham,+447441934144,1428 Goldcliff Circle,Europe,NaN,NaN
4,GX02BCF,Christine Burnett,+13308709654,1376 Cliffside Drive,Europe,NaN,NaN
5,372275,Francine Sanchez,+4910112789232,2367 Tori Lane,Kuwait,NaN,NaN
6,DZI7YXR,Eric Horne,+41773019245,4933 Seth Street,Liberia,NaN,NaN
7,THECAR,Nelson Blaze,+447441254544,6400 Joes Road,United States,NaN,NaN
8,YEAUXLO,Amy Whitehead,+13308730144,1784 Petunia Way,United States,NaN,NaN
9,UNIVRSE,Ana Smith,+491771354232,3589 Hanover Street,United States,NaN,NaN
10,LTM378,Virginia Bradshaw,+41773589245,5325 Virginia Street,United States,NaN,NaN

In [ ]:
with open('results.csv','a') as fd:
    df.iloc[[7]].to_csv(fd, header=False, index=False)

In [94]:
os.system('index.html')

0